CMakeFiles
Makefile
cmake_install.cmake
CMakeCache.txt
install_manifest.txt
doxygen.err
.kdev4
otawa.kdev4
.vscode


*.so
*.cmake
*~

config.h
dist/otawa-install.py
src/prog/ipet_parser.cpp
src/prog/ipet_parser.h
src/prog/util_fft_lexer.cc
src/prog/util_fft_parser.cpp
src/prog/util_fft_parser.h
src/prog/ipet_lexer.cc

src/config/otawa-config
src/dumpcfg/dumpcfg
src/mkff/mkff
src/odec/odec
src/odfa/odfa
src/odisasm/odisasm
src/opcg/opcg
src/operform/operform
src/ostat/ostat
src/owcet/owcet

autodoc
doxygen.err
doc/*/*.html
doc/*/css
doc/*/*-imports

.cproject
.project
.settings

test/benchs/main-otawa/
test/etime/main-ilp.html
test/ai/test_ai
test/cfg/test_cfg
test/clp/test_clp
test/dom/test_dom
test/lexicon/test_lexicon
test/props/test_props
test/reg/test_reg
test/steps/
test/test_MemorySet
